{% extends 'base.html.twig' %}

{% block title %}Modif mdp{% endblock %}

{% block body %}
<div class="container-connexion3">
    <div class="container-connexion">
        {{ form_start(modifPasswordForm) }}
        <div class="container-connexion2">
            {{ form_errors(modifPasswordForm) }}

            {{ form_widget(modifPasswordForm.oldPassword, {'attr': {'placeholder': 'Entrez votre ancien mot de passe', 'class': 'form-control'}}) }}
            {{ form_errors(modifPasswordForm.oldPassword) }}

            {{ form_widget(modifPasswordForm.newPassword, {'attr': {'placeholder': 'Entrez votre nouveau mot de passe', 'class': 'form-control'}}) }}
            {{ form_errors(modifPasswordForm.newPassword) }}

            {{ form_widget(modifPasswordForm.confirmPassword, {'attr': {'placeholder': 'Confirmez votre nouveau mot de passe', 'class': 'form-control'}}) }}
            {{ form_errors(modifPasswordForm.confirmPassword) }}

            <button type="submit" class="btn-connexion">Modifier mon mot de passe</button>
        </div>
        {{ form_end(modifPasswordForm) }}
        <button class="btn-connexion2" onclick="window.location.href='{{ path("app_modif_user") }}'">Retour</button>
    </div>
</div>
{% endblock %}