{% extends 'base.html.twig' %}

{% block title %}Modif mdp{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset("styles/modif.css")}}">
{% endblock %}

{% block body %}
<div class="liste">
    <h3>Modify my password</h3>
    {{ form_start(modifPasswordForm) }}
        {{ form_errors(modifPasswordForm) }}

        
        <label for="inputOldPassword">Old password</label>
        {{ form_widget(modifPasswordForm.oldPassword, {'attr': {'placeholder': 'Old password', 'class': 'form-control'}}) }}
        {{ form_errors(modifPasswordForm.oldPassword) }}

        <label for="inputOldPassword">New password</label>
        {{ form_widget(modifPasswordForm.newPassword, {'attr': {'placeholder': 'New password', 'class': 'form-control'}}) }}
        {{ form_errors(modifPasswordForm.newPassword) }}

        <label for="inputOldPassword">Confirm new password</label>
        {{ form_widget(modifPasswordForm.confirmPassword, {'attr': {'placeholder': 'Confirm new password', 'class': 'form-control'}}) }}
        {{ form_errors(modifPasswordForm.confirmPassword) }}

        <button type="submit" class="btn-connexion">Save</button>
    {{ form_end(modifPasswordForm) }}
    <button class="btn-connexion2" onclick="window.location.href='{{ path("app_modif_user") }}'">Back to menu</button>
</div>
{% endblock %}