{% extends 'base.html.twig' %}

{% block title %}Your informations{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset("styles/modif.css")}}">
{% endblock %}

{% block body %}
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<div class="liste">
    <h1>Mon profil</h1>
    <ul>
        <li><strong>User ID:</strong> {{ user.uuid }}</li>
        <li><strong>Username:</strong> {{ user.username }}</li>
        <li><strong>Spotify username:</strong> {{ user.spotifyusername }}</li>
        <li><strong>Spotify link or ID:</strong> {{ user.spotifyid }}</li>
    </ul>
    <button class="btn-connexion2" onclick="window.location.href='{{ path("app_modif_user") }}'">Retour</button>
</div>
{% endblock %}